<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Book Show&#x2022TicketShow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <style>
      #title_card {
        position: static;
        text-align: center;
        margin-top:3%;
        font-weight:200;
      }

      .form {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px; 
        width: 200px;
        height: 150px;  
      }
      
      @media (orientation: landscape){
        #book {
          position: absolute;
          left: 30%;
          right: 30%;
          margin: auto;  
        }
      }

      @media (orientation: portrait){
        #book {
          position: absolute;
          left: 35px;
          right: 35px;
          margin: auto;  
        }
      }        
    </style>
  </head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  <body>
    <nav class="navbar" style="background-color: #111417; border-bottom: 1px solid #303539;" >
      <div class="container-fluid">
        <ul class="navbar justify-content-start">
          <li>
            <a class="nav-link justify-content-start fs-5" style="position:absolute; left:10px; top:10px; padding:0px; margin:0px; color:white;" href="{{url_for('Dashboard')}}">
              <img src="{{ url_for('static', filename='ticket-48.png') }}" width="40" height="40" style="border-width:0px;"></img>
            </a>
            <a class="nav-link justify-content-start fs-5" style="position:absolute; left:53px; top:22px; padding:0px; margin:0px; color:white;" href="{{url_for('Dashboard')}}">
              Home
            </a>
          </li>
        </ul>
        <ul class="navbar justify-content-end" style="list-style-type: none; padding:0px; margin:0px;">
          <li style="padding-right:10px;">
            <a href="{{ url_for('logout') }}" type="button" id="logout_btn" class="btn btn-primary end" onclick="return confirm('Do you want to logout.')">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <h1 id="title_card" class="display-5">Book Show</h1>
    </div>
    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == 'success' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% elif category == 'danger' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div id="book">
      <form method="POST">
          <div>
            <label for="Venue" class="col-form-label" style="color: gainsboro;">Venue</label>
            <input type="text" class="form-control" name="Venue" id="Venue" list="Venues" value="{{show.stage}} in {{location}}" disabled>
            <label for="Show" class="col-form-label" style="color: gainsboro;">Show</label>
            <input type="text" class="form-control" name="Show" id="Show" value="{{show.show}}" disabled>
            <label for="start" class="col-form-label" style="color: gainsboro;">Timings</label>
            <input type="text" class="form-control" name="start" id="start" value="From {{show.starttime}} to {{show.endtime}}"disabled>
            <label for="cost" class="col-form-label" style="color: gainsboro;">Cost per ticket</label>
            <input type="number" class="form-control" name="cost" id="cost" value="{{show.cost}}" disabled>
            <label for="Capacity" class="col-form-label" style="color: gainsboro;">Seats Available</label>
            <input type="number" class="form-control" name="Capacity" id="Capacity" min="0" value="{{show.seats_left}}" disabled>
            <label for="bookingSeats" class="col-form-label" style="color: gainsboro;">How many seats do you want?</label>
            <input type="number" class="form-control" id="bookingSeats" name="bookingSeats" min="1" value="1" oninput="updateCost()">
            <p id="totalcost">The total cost of 1 seat is {{ show.cost }}.</p>
            </div>
          <div style="position: absolute; right:0%;">
            <br>
            <a class="btn btn-danger" href="{{url_for('Dashboard')}}" role="button">Cancel</a>
            <input type="submit" class="btn btn-primary" value="Book">
          </div>
        </div>
      </form>
    </div>
    <script>
      function updateCost() {
        var bookingSeats = document.getElementById("bookingSeats").value;
        var cost = document.getElementById("cost").value;
        var totalcost = bookingSeats * cost;
        if (bookingSeats == 1){
          seat='seat';
        } else {
          seat = 'seats';
        }
        document.getElementById("totalcost").innerHTML = "The total cost of " + bookingSeats + " " + seat + " is Rs." + totalcost + ".";
      }
    </script>
  </body>
</html>
