<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Booked Ticket&#x2022TicketShow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
     <style>
      #title_card {
        position: static;
        text-align: center;
        font-weight:200;
      }

      .form {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px; 
        width: 200px;
        height: 150px;  
      }

      #shows {
        position: absolute;
        left: 15px;
        right: 15px;
        margin: auto;  
      }
    </style>
  </head>
    <body>
      <nav class="navbar" style="background-color: #111417; border-bottom: 1px solid #303539;" >
      <div class="container-fluid">
        <ul class="navbar justify-content-start">
          <li>
            <a class="nav-link justify-content-start fs-5" style="position:absolute; left:10px; top:10px; padding:0px; margin:0px; color:white;" href="{{url_for('Dashboard')}}">
              <img src="{{ url_for('static', filename='ticket-48.png') }}" width="40" height="40" style="border-width:0px;"></img>
            </a>
            <a class="nav-link justify-content-start fs-5" style="position:absolute; left:53px; top:22px; padding:0px; margin:0px; color:white;" href="{{url_for('Dashboard')}}">
              Home
            </a>
          </li>
        </ul>
        <ul class="navbar justify-content-end" style="list-style-type: none; padding:0px; margin:0px;">
          <li style="padding-right:10px;">
            <a href="{{ url_for('Dashboard') }}" type="button" id="booked" class="btn btn-success end">Book New Tickets</a>
          </li>
          <li style="padding-right:10px;">
            <a href="{{ url_for('logout') }}" type="button" id="logout_btn" class="btn btn-primary end" onclick="return confirm('Do you want to logout.')">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <h1 class="display-7">Welcome, {{ current_user.username }}!</h1>
      <div id="shows">
        <h1 id="title_card" class="display-7">Shows currently on sale</h1>
        <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                {% if category == 'success' %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% elif category == 'danger' %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="col-2">Show</th>
                <th class="col-1">Location</th>
                <th class="col-1">Stage</th>
                <th class="col-2">Start Date, Time</th>
                <th class="col-2">End Date, Time</th>
                <th class="col-1">cost</th>
                <th class="col-1">Seats booked</th>
                <th>Rate/Cancel Booking</th>
              </tr>
            </thead>
            <tbody>
            {% for Booking,start,end,location,stage in events %}
              <tr>
                <td>{{Booking.show}}</td>
                <td>{{location}}</td>
                <td>{{stage}}</td>
                <td>{{start}}</td>
                <td>{{end}}</td>
                <td>{{Booking.cost}}</td>
                <td>{{Booking.tickets}}</td>
                {%if start>nowt %}
                <td>
                  <form action="{{ url_for('delete_booking', booking_id=Booking.booking_id) }}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Do you want to delete this show? You cannot reverse this process.')">Cancel Booking</button>
                  </form>
                </td>
                {%endif%}
                {%if end<nowt %}
                <td>
                  <form action="{{ url_for('rating', booking_id=Booking.booking_id) }}"method="POST">
                    <select class="form-control" id="ratingfilter" name="ratingfilter" onchange="this.form.submit()">
                      <option hidden disabled selected value></option>
                      <option value="1">1 Star</option>
                      <option value="2">2 Stars</option>
                      <option value="3">3 Stars</option>
                      <option value="4">4 Stars</option>
                      <option value="5">5 Stars</option>
                    </select>
                  </form>
                </td>
                {%endif%}
              {% endfor %}
              </tr>
            </tbody>
          </table>
          <a href="{{ url_for('Dashboard') }}" type="button" id="bookedn" class="btn btn-danger end">Go Back</a>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
