<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Edit Profile&#x2022TicketShow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <style>
      #title_card {
        position: static;
        text-align: center;
        margin-top:3%;
        font-weight:100;
      }

      .form {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px; 
        width: 200px;
        height: 150px;  
      }
      
      @media (orientation: landscape){
        #editings {
          position: absolute;
          left: 33%;
          right: 33%;
          margin: auto;  
        }
      }

      @media (orientation: portrait){
        #editings {
          position: absolute;
          left: 35px;
          right: 35px;
          margin: auto;  
        }
      }
        
    </style>
  </head>
  <body>
    <nav class="navbar" style="background-color: #111417; border-bottom: 1px solid #303539;" >
      <div class="container-fluid">
        <ul class="navbar justify-content-start">
          <li>
            <a class="nav-link justify-content-start fs-5" style="position:absolute; left:10px; top:10px; padding:0px; margin:0px; color:white;" href="{{url_for('Dashboard')}}">
              <img src="{{ url_for('static', filename='ticket-48.png') }}" width="40" height="40" style="border-width:0px;"></img>
            </a>
            <a class="nav-link justify-content-start fs-5" style="position:absolute; left:53px; top:22px; padding:0px; margin:0px; color:white;" href="{{url_for('Dashboard')}}">
              Home
            </a>
          </li>
        </ul>
        <ul class="navbar justify-content-end" style="list-style-type: none; padding:0px; margin:0px;">
          <li style="padding-right:10px;">
            <a href="{{ url_for('sellerpermissions') }}" type="button" id="sellerpermission" class="btn btn-outline-secondary end">Seller Permissions</a>
          </li>
          <li style="padding-right:10px;">
            <a href="{{ url_for('logout') }}" type="button" id="logout_btn" class="btn btn-primary end" onclick="return confirm('Do you want to logout.')">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <h1 id="title_card" class="display-5">Edit Profile</h1>
    </div>
    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == 'success' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% elif category == 'danger' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div id="editings">
      <form action="{{ url_for('editname') }}" method="POST">
        <label for="username" class="col-form-label" style="color: gainsboro;">Change Username</label>
        <div class="input-group">
          <input type="string" class="form-control" name="username" id="username" placeholder="Username" value="{{Name}}" required>
          <button type="submit" class="btn btn-primary float-end" value="Submit">Change Username</button>
          </div>
        </form>

      <div>
        <form action="{{ url_for('editmail') }}" method="POST">
          <label for="Email" class="col-form-label" style="color: gainsboro;">New Email address</label>
          <div class="input-group">
            <input type="email" class="form-control" name="Email" id="Email" placeholder="name@example.com" value="{{email}}" required>
            <button type="submit" class="btn btn-primary float-end" id="button-addon2" value="Submit">Change Email</button>
          </div>
          <small>
            <div id="email guide">
              Enter a
              <p id="Ema" style="display:inline;">valid email</p>
            </div>
          </small>
        </form>
      </div>
      <form action="{{ url_for('editpass') }}" method="POST">
        <div class="row g-3">
          <div class="col md-6">
            <label for="Password" class="col-form-label" style="color: gainsboro;">Current Password</label>
            <input type="password" class="form-control" name="Password" id="Password" placeholder="Current Password">
          </div>
          <div class="col md-6">
            <label for="NewPassword" class="col-form-label" style="color: gainsboro;">New Password</label>
            <input type="password" class="form-control" name="NewPassword" id="NewPassword" 
            placeholder="Password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
          </div>
          <small>
            <div id="password_guide">
              New password requires atleast 
              <p id="ucasen" style="display:inline;">1 Uppercase,</p>
              <p id="lcasen" style="display:inline;"> 1 lowercase,</p>
              <p id="numn" style="display:inline;"> 1 number,</p>
              <p id="lengthn" style="display:inline;">and atleast 8 characters.</p>
            </div>
          </small>
        </div>
        <div>
          <input type="checkbox" class="form-check-input" id="VisibilityToggle" style="padding-top: 5px;">
          <label class="form-check-label" for="VisibilityToggle">View Password</label>
        </div>
        <div style="position: absolute; right:0%;">
          <button type="submit" class="btn btn-primary" value="Submit">Change Password</button>
        </div>
      </form>
      <a href="{{url_for('Dashboard')}}" class="btn btn-danger" value="Submit">Cancel</a>
    </div>
      
    </div>
      




    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script>
      $(document).ready(function(){
        /*form validation UI*/
        $("#Email").keyup(function(){
          if ($("#Email").val().match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)){
            $("#Ema").css("color","green");
          } else{
            $("#Ema").css("color","red");
          }
        });
        $("#VisibilityToggle").click(function(){  
          if ($("#Password").attr('type') == "password") {
            $("#Password").attr('type', 'text');
            $("#NewPassword").attr('type', 'text');
          } else {
            $("#Password").attr('type', 'password');
            $("#NewPassword").attr('type', 'password');
          }
        });
          /*form validation UI*/
        $("#Email").keyup(function(){
          if ($("#Email").val().match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)){
            $("#Ema").css("color","green");
          } else{
            $("#Ema").css("color","red");
          }
        });

        $("#NewPassword").keyup(function(){
          if ($("#NewPassword").val().match(/[a-z]/)){
            $("#lcasen").css("color","green");
          } else{
            $("#lcasen").css("color","red");
          }
          if ($("#NewPassword").val().match(/[A-Z]/)){
            $("#ucasen").css("color","green");
          } else{
            $("#ucasen").css("color","red");
          }
          if ($("#NewPassword").val().match(/[0-9]/)){
            $("#numn").css("color","green");
          } else{
            $("#numn").css("color","red");
          }
          if ($("#NewPassword").val().length>7){
            $("#lengthn").css("color","green");
          } else{
            $("#lengthn").css("color","red");
          }
        });    
      });
    </script>
  </body>
</html>
