<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Edit Show&#x2022TicketShow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <style>
      #title_card {
        position: static;
        text-align: center;
        margin-top:3%;
        font-weight:200;
      }

      .form {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px; 
        width: 200px;
        height: 150px;  
      }
      
      @media (orientation: landscape){
        #shows {
          position: absolute;
          left: 35%;
          right: 35%;
          margin: auto;  
        }
      }

      @media (orientation: portrait){
        #shows {
          position: absolute;
          left: 35px;
          right: 35px;
          margin: auto;  
        }
      }        
    </style>
  </head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  <body>
    <nav class="navbar" style="background-color: #111417; border-bottom: 1px solid #303539;" >
      <div class="container-fluid">
        <ul class="navbar justify-content-start">
          <li>
            <a class="nav-link justify-content-start fs-5" style="position:absolute; left:10px; top:10px; padding:0px; margin:0px; color:white;" href="{{url_for('Dashboard')}}">
              <img src="{{ url_for('static', filename='ticket-48.png') }}" width="40" height="40" style="border-width:0px;"></img>
            </a>
            <a class="nav-link justify-content-start fs-5" style="position:absolute; left:53px; top:22px; padding:0px; margin:0px; color:white;" href="{{url_for('Dashboard')}}">
              Home
            </a>
          </li>
        </ul>
        <ul class="navbar justify-content-end" style="list-style-type: none; padding:0px; margin:0px;">
          <li style="padding-right:10px;">
            <a href="{{ url_for('logout') }}" type="button" id="logout_btn" class="btn btn-primary end" onclick="return confirm('Do you want to logout.')">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <h1 id="title_card" class="display-5">Edit Show</h1>
    </div>
    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == 'success' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% elif category == 'danger' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <form method="POST">
        <div id="shows">
          <label for="Venue" class="col-form-label" style="color: gainsboro;">Venue</label>
          <select type="text" class="form-control" name="Venue" id="Venue" list="Venues" value="{{venue}}" required>
            {% for i in venues %}
            <option value="{{i.stage_id}}"{% if venue==i.stage_id %} selected{% endif %}>{{i.stage}} in {{i.location}}</option>
            {% endfor %}
          </select>
          <label for="Show" class="col-form-label" style="color: gainsboro;">Show</label>
          <input type="text" class="form-control" name="Show" id="Show" placeholder="Enter show name" value="{{show}}" disabled>
          <label for="start" class="col-form-label" style="color: gainsboro;">Start time</label>
          <input type="datetime-local" class="form-control" name="start" id="start" value="{{start}}" placeholder="dd-mm-yyyy  --:-- --" disabled>
          <label for="end" class="col-form-label" style="color: gainsboro;">End time</label>
          <input type="datetime-local" class="form-control" name="end" id="end" value="{{end}}" placeholder="dd-mm-yyyy  --:-- --" disabled>
          <label for="cost" class="col-form-label" style="color: gainsboro;">Cost per ticket</label>
          <input type="number" class="form-control" name="cost" id="cost" min="0" value="{{cost}}" required>
          <label for="Genre" class="col-form-label" style="color: gainsboro;">Tags</label>
          <select type="text" class="form-select" name="Genre" id="Genre" placeholder="Genre" required>
            <option value="" selected  {% if tags=='' %} selected{% endif %} disabled hidden>Genre</option>
            <option value="Thriller" {% if tag=='Thriller' %} selected{% endif %}>Thriller</option>
            <option value="Romance"  {% if tag=='Romance' %} selected{% endif %} >Romance</option>
            <option value="Comedy"   {% if tag=='Comedy' %} selected{% endif %}>Comedy</option>
            <option value="Horror"   {% if tag=='Horror'%} selected{% endif %}>Horror</option>
            <option value="Action"   {% if tag=='Action' %} selected{% endif %}>Action</option>
            <option value="Drama"    {% if tag=='Drama' %} selected{% endif %}>Drama</option>
          </select>
        <div style="position: absolute; right:0%;">
          <br>
          <a class="btn btn-danger" href="{{url_for('Dashboard')}}" role="button">Cancel</a>
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
      </div>
    </form>
  </body>
</html>
