<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Active sales&#x2022TicketShow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
     <style>
      #title_card {
        position: static;
        text-align: center;
        font-weight:200;
      }

      .form {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px; 
        width: 200px;
        height: 150px;  
      }

      #shows {
        position: absolute;
        left: 15px;
        right: 15px;
        margin: auto;  
      }
    </style>
  </head>
    <body>
      <nav class="navbar" style="background-color: #111417; border-bottom: 1px solid #303539;" >
      <div class="container-fluid">
        <ul class="navbar justify-content-start">
          <li>
            <a class="nav-link justify-content-start fs-5" style="position:absolute; left:10px; top:10px; padding:0px; margin:0px; color:white;" href="{{url_for('Dashboard')}}">
              <img src="{{ url_for('static', filename='ticket-48.png') }}" width="40" height="40" style="border-width:0px;"></img>
            </a>
            <a class="nav-link justify-content-start fs-5" style="position:absolute; left:53px; top:22px; padding:0px; margin:0px; color:white;" href="{{url_for('Dashboard')}}">
              Home
            </a>
          </li>
        </ul>
        <ul class="navbar justify-content-end" style="list-style-type: none; padding:0px; margin:0px;">
          <li style="padding-right:10px;">
            <a href="{{ url_for('stat') }}" type="button" id="logout_btn" class="btn btn-dark end">Stats</a>
          </li>
          <li style="padding-right:10px;">
            <a href="{{ url_for('editprofile') }}" type="button" id="booked" class="btn btn-secondary end">Edit profile</a>
          </li>
          <li style="padding-right:10px;">
            <a href="{{ url_for('logout') }}" type="button" id="logout_btn" class="btn btn-primary" onclick="return confirm('Do you want to logout.')">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <h1 class="display-7">Welcome, {{ current_user.username }}!</h1>
      <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              {% elif category == 'danger' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <div id="shows">
        <h1 id="title_card" class="display-7">Shows currently on sale</h1>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="col-2">Show</th>
                <th class="col-1">Stage</th>
                <th class="col-2">Start Date, Time</th>
                <th class="col-2">End Date, Time</th>
                <th class="col-1">cost</th>
                <th class="col-1">Seats left</th>
                <th>Edit Show</th>
                <th>Delete Show</th>
              </tr>
            </thead>
            <tbody>
            {% for event in events %}
              <tr>
                <td>{{event.show}}</td>
                <td>{{event.stage}}</td>
                <td>{{event.starttime}}</td>
                <td>{{event.endtime}}</td>
                <td>{{event.cost}}</td>
                <td>{{event.seats_left}}</td>
                <td>
                  <a type="button" id="edit_show" class="btn btn-warning"  href="{{url_for('edit_show',show_id=event.show_id)}}">edit show</a>
                </td>
                <td>
                  <form action="{{ url_for('delete_show', show_id=event.show_id) }}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Do you want to delte this show? You cannot reverse this process.')">Delete Show</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <a type="button" id="add_show" class="btn btn-success"  href="{{url_for('newshow')}}">Add New Show</a>
        <a type="button" id="edit_venue" class="btn btn-danger"  href="{{url_for('editvenues')}}">Edit/Delete existing Venues</a>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
