<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Dashbaord&#x2022TicketShow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
     <style>
      #title_card {
        position: static;
        text-align: center;
        font-weight:200;
      }

      .form {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px; 
        width: 200px;
        height: 150px;  
      }

      #shows {
        position: absolute;
        left: 15px;
        right: 15px;
        margin: auto;  
      }
    </style>
  </head>
    <body>
      <nav class="navbar" style="background-color: #111417; border-bottom: 1px solid #303539;" >
      <div class="container-fluid">
        <ul class="navbar justify-content-start">
          <li>
            <a class="nav-link justify-content-start fs-5" style="position:absolute; left:10px; top:10px; padding:0px; margin:0px; color:white;" href="{{url_for('Dashboard')}}">
              <img src="{{ url_for('static', filename='ticket-48.png') }}" width="40" height="40" style="border-width:0px;"></img>
            </a>
            <a class="nav-link justify-content-start fs-5" style="position:absolute; left:53px; top:22px; padding:0px; margin:0px; color:white;" href="{{url_for('Dashboard')}}">
              Home
            </a>
          </li>
        </ul>
        <ul class="navbar justify-content-end" style="list-style-type: none; padding:0px; margin:0px;">
          <li style="padding-right:10px;">
            <a href="{{ url_for('sellerpermissions') }}" type="button" id="sellerpermission" class="btn btn-outline-secondary end">Seller Permissions</a>
          </li>
          <li style="padding-right:10px;">
            <a href="{{ url_for('booked') }}" type="button" id="booked" class="btn btn-secondary end">Booked Tickets</a>
          </li>
          <li style="padding-right:10px;">
            <a href="{{ url_for('editprofile') }}" type="button" id="booked" class="btn btn-secondary end">Edit profile</a>
          </li>
          <li style="padding-right:10px;">
            <a href="{{ url_for('logout') }}" type="button" id="logout_btn" class="btn btn-primary end" onclick="return confirm('Do you want to logout.')">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <h1 class="display-7">Welcome, {{ current_user.username }}!</h1>
    </div>  
    <form id='Filter' method="POST">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="ratingfilter">Filter By Rating</label>
            <select class="form-control" id="ratingfilter" name="ratingfilter" onchange="document.getElementById('Filter').submit();">
              <option value="1" {% if session['rating']=='1' %} selected {% endif %}>&gt1</option>
              <option value="2" {% if session['rating']=='2' %} selected {% endif %}>&gt2</option>
              <option value="3" {% if session['rating']=='3' %} selected {% endif %}>&gt3</option>
              <option value="4" {% if session['rating']=='4' %} selected {% endif %}>&gt4</option>
              <option value="5" {% if session['rating']=='5' %} selected {% endif %}>&gt5</option>
              <option value="None" {% if session['rating']=='None' %} selected {% endif %}>None</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="locationfilter">Filter by location</label>
            <select class="form-control" id="locationfilter" name="locationfilter" onchange="document.getElementById('Filter').submit();">
              {%for Location in Locations%}
              <option value="{{Location}}" {% if session['location']==Location %} selected {% endif %}>{{Location}}</option>
              {% endfor %}
              <option value="None" {% if session['location']=='None' %} selected {% endif %}>None</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="ratingfilter">Filter By Tags</label>
            <select class="form-control" id="tagsfilter" name="tagsfilter" onchange="document.getElementById('Filter').submit();">
              <option value="None" selected  {% if tags=='' %} selected{% endif %}>None</option>
              <option value="Thriller" {% if session['tags']=='Thriller' %} selected{% endif %}>Thriller</option>
              <option value="Romance"  {% if session['tags']=='Romance' %} selected{% endif %} >Romance</option>
              <option value="Comedy"   {% if session['tags']=='Comedy' %} selected{% endif %}>Comedy</option>
              <option value="Horror"   {% if session['tags']=='Horror'%} selected{% endif %}>Horror</option>
              <option value="Action"   {% if session['tags']=='Action' %} selected{% endif %}>Action</option>
              <option value="Drama"    {% if session['tags']=='Drama' %} selected{% endif %}>Drama</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="datefilter">Filter By Date</label>
            <input type="date" class="form-control" id="datefilter" name="datefilter" value="{{session['date']}}">
          </div>
        </div>
      </div>
    </form>
      <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == 'success' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% elif category == 'danger' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
      </div>
      <div id="shows">
        <h1 id="title_card" class="display-7">Shows currently on sale</h1>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="col-2">Show</th>
                <th class="col-1">Location</th>
                <th class="col-1">Stage</th>
                <th class="col-2">Start Date, Time</th>
                <th class="col-2">End Date, Time</th>
                <th class="col-1">cost</th>
                <th class="col-1">Seats left</th>
                <th class="col-1">Rating</th>
                <th class="col-2">Buy Ticket</th>
              </tr>
            </thead>
            <tbody>
            {% for show,rating,location in events %}
              <tr>
                <td>{{show.show}}</td>
                <td>{{location}}</td>
                <td>{{show.stage}}</td>
                <td>{{show.starttime}}</td>
                <td>{{show.endtime}}</td>
                <td>{{show.cost}}</td>
                <td>{{show.seats_left}}</td>
                <td>{{rating}}</td>
                <td>
                  {%if show.show_id%}
                  <a type="button" id="book" class="btn btn-success"  href="{{url_for('book',show_id=show.show_id)}}">Buy Ticket</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script>
      const filter = document.getElementById('datefilter');
      filter.addEventListener('change', event => {
        document.getElementById('Filter').submit();
      });
      </script>
  </body>
</html>
